html {
    font-family: 'Roboto';
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    margin: 0;
}

body > * {
    flex: 1;
}

header {
    background-color: #1f2937;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding-left: 20vh;
    padding-right: 20vh;
}

header > .logo_text {
    color: #F9FAF8;
    font: 24px;
}

header > .links {
    color: #F9FAF8;
    display: flex;
    align-items: center;
    list-style: none;
    gap: 2vh;
}

header > .links a {
    text-decoration: none;
    color: grey
}

.hero_section {
    background-color: #1F2937;
    display:flex;
    justify-content: space-between;
    padding-left: 20vh;
    padding-right: 20vh;
    padding-bottom: 5vh;
}

.hero_section > .hero_left > .main_text {
    font: 48px;
    color: #F9FAF8;
    font-weight: 900;
}

.hero_section > .hero_left > .secondary_text {
    font: 18px;
    color: #E5E7EB;
}

.hero_section > .hero_left > button {
    background-color: #3882f6;
}

.information {
    display:flex;
    flex-direction: column;
    align-items: center;
    padding-top: 5vh;
    padding-bottom: 5vh;
    padding-left: 20vh;
    padding-right: 20vh;
    justify-content: space-between;
}

.information h1 {
    font: 36px;
    color: #1f2937;
    font-weight: 900;
}

.information > .random_infos {
    display:flex;
    justify-content: space-between;
    gap: 3vh
}

.information > .random_infos {
    display: flex;
    align-content: center;
}

.information > .random_infos img {
    width: 14vh;
    border: 3px, solid, #3882f6;
}

.insprational_quote {
    background-color: #E5E7EB;
    font: 36px;
    color: #1f2937;
    font-weight: 300;
    font-style: italic;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    padding-top: 5vh;
    padding-bottom: 5vh;
    padding-left: 20vh;
    padding-right: 20vh;
}

.call_to_action {
    padding-top: 5vh;
    padding-bottom: 5vh;
    padding-left: 20vh;
    padding-right: 20vh;
}

.call_to_action > .action_box {
    background-color: #3882f6;
    font: 36px;
    color: #E5E7EB;
    font-weight: 900;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-bottom: 1vh;
    padding-top: 1vh;
}

.call_to_action > .action_box button {
    background-color: #3882f6;
}